/*:root {*/

/*  --primary-button: ;*/
/*  --primary-text-button: ;*/
/*  --primary-button-hover: ;*/
/*  --primary-text-hover: ;*/
/*  --primary-text-h1: ;*/
/*  --primary-button-h2: ;*/
/*  --primary-text-h2: ;*/

/*}*/
@font-face {
  font-family: 'JosefinSans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(fonts/JosefinSans-Bold.ttf);
}
@font-face {
  font-family: 'JosefinSans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(fonts/JosefinSans-SemiBold.ttf);
}
@font-face {
  font-family: 'JosefinSans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(fonts/JosefinSans-Regular.ttf);
}
@font-face {
  font-family: 'JosefinSans';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(fonts/JosefinSans-Light.ttf);
}
@font-face {
  font-family: 'JosefinSans';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(fonts/JosefinSans-Thin.ttf);
}
body {
  font-family: 'JosefinSans' !important;
  background: #222236 !important;
}
body a{
  text-decoration: none !important;
}
