/*:root {*/

/*  --primary-button: ;*/
/*  --primary-text-button: ;*/
/*  --primary-button-hover: ;*/
/*  --primary-text-hover: ;*/
/*  --primary-text-h1: ;*/
/*  --primary-button-h2: ;*/
/*  --primary-text-h2: ;*/

/*}*/
@font-face {
  font-family: 'BeVietnamPro';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(fBeVietnamPro-Bold.ttf);
}
@font-face {
  font-family: 'BeVietnamPro';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(BeVietnamPro-SemiBold.ttf);
}
@font-face {
  font-family: 'BeVietnamPro';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(BeVietnamPro-Medium.ttf);
}
@font-face {
  font-family: 'BeVietnamPro';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(BeVietnamPro-Light.ttf);
}
@font-face {
  font-family: 'BeVietnamPro';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(BeVietnamPro-Regular.ttf);
}
body {
  font-family: 'BeVietnamPro' !important;
  margin: 0;
}
body a{
  text-decoration: none !important;
}
@media (min-width: 1200px){
  .container, .container-fluid{
    margin: 0 310.5px;
    padding: 0 15px;
  }
  .container-fluid {
    margin: 0 35px;
    padding: 0 15px;
  }
}
@media (max-width: 1200px){
  .container,.container-fluid {
    max-width: 100% !important;
    padding: 0 15px;
  }
  ul.menu-center_ul{
    gap: unset !important;
  }
  ul.header-right_ul{
    gap: 10px !important;
  }
  i.fas.fa-search.item-search{
    margin-left: 5px !important;
  }
}
@media(max-width: 992px){
  .footer{
    flex-wrap: wrap;
  }
  .appointment {
    width: 100%;
    text-align: center;
  }
  .appointment form {
    width: 100% !important;
    margin-bottom: 30px;
  }
  .footer_content{
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
  }
}
body li{
  list-style: none;
}
body p{
  margin: 0;
}
.txt-header--left h3 {
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  margin: 0;
}

.top-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px 36px;
  background: #000000;
  flex: none;
  order: 0;
  flex-grow: 0;
}

ul.header-right_ul {
  display: flex;
  gap: 64px;
  margin: 0;
}
.logo-pc {
  padding-top: 32px;
  padding-bottom: 16px;
  text-align: center;
}

ul.menu-center_ul {
  display: flex;
  justify-content: space-between;
  padding-top: 24px;
  padding-bottom: 28px;
  margin: 0;
  padding-left: 0;
}

li.menu_item--bottom a {
  position: relative;
  font-weight: 300;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: 0.01em;
  color: #000000;
}

.logo-pc img {
  width: 150px;
  height: 65px;
}
li.menu-item--top a {
  font-weight: 300;
  font-size: 15px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 0.01em;
  color: #FFFFFF;
}
i.fas.fa-search.item-search {
  color: #fff;
  margin-left: 16px;
  font-size: 12px;
}
.menu_lv1 {
  padding-top: 28px;
}
ul.menu_lv1_ul {
  padding: 0;
}
.img-lv1 img {
  width: 248px;
  height: 175px;
}
p.title_ul_lv1 {
  font-style: italic;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0.01em;
}
.menu_lv1-left p, .menu_lv1-left li {
  padding-bottom: 16px;
}
.menu_item--bottom:hover > ul.groupmenu-drop{
  display: block;
}
ul.groupmenu-drop{
  display: none;
}
.menu_lv1_hover {
  display: flex;
  justify-content: space-between;
}

li.menu_item--bottom:hover >a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 100%;
  height: 2px;
  background-color: #ccc;
}
ul.groupmenu-drop.slidedown {
  position: absolute;
  right: 0;
  left: 0;
}
/*footer*/
.footer {
  display: flex;
  justify-content: space-between;
}

.footer_content.col-lg-7 {
  display: flex;
  gap: 64px;
}

.footer {
  padding: 64px 0;
}

footer {
  background: #F8F7F5;
}

p.appointment {
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0.02em;
  color: #000000;
}

h3.headtitle {
  margin: 0;
  font-weight: 600;
  font-size: 19px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: #000000;
}
.div-text ul {
  padding: 0;
  margin-top: 32px;
}
input#email {
  width: 100%;
  padding: 10px 0;
  margin-top: 20px;
  margin-bottom: 20px;
  border: navajowhite;
  background: rgba(0,0,0,0);
  border-bottom: 1px solid;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  outline: none;
}
input#email::-webkit-input-placeholder {
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: #000000;
}
.appointment form {
  width: 410px;
  position: relative;
}
.appointment button {
  padding: 12px 91px;
  background: #000000;
  border: 0.5px solid #000000;
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.01em;
  color: #FFFFFF;
}
.icon-user{
  position: absolute;
  top: 30px;
  right: 0;
}
.div-text ul li {
  padding-bottom: 10px;
  font-weight: 300;
  font-size: 17px;
  line-height: 15px;
  letter-spacing: 0.01em;
  color: #000000;
}